<body>

<p>
  <mat-toolbar >
    <button mat-icon-button class="icon" aria-label="icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Kanban Board</span>
    <span class="spacer"></span>
    <button mat-icon-button class="icon" routerLink="dashboard" aria-label="icon-button with dashboard icon">
      <mat-icon>dashboard</mat-icon>
    </button>
    <button mat-icon-button class="icon" aria-label="icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
</p>

<router-outlet></router-outlet>

</body>
