.box {
  background-color: rgb(36, 36, 36);
  width: 300px;
  height: 90vh;
  padding-top: 10px;
  margin: 0 0 0 10px;
}

h2 {
  color: white;
  padding: 10px 0 0 30px;
}

.card {
  color: white;
  background-color: #3f51b5;
  font-size: medium;
  width: 200px;
  padding: 20px;
  margin: 0 0 20px 30px;
}

.boxInput {
  background-color: rgb(36, 36, 36);
  width: 310px;
  height: 90vh;
  padding-top: 10px;
  margin: 0 0 0 10px;
}

.cardInput {
  color: white;
  background-color: #3f51b5;
  font-size: medium;
  width: 200px;
  padding: 20px 30px 20px 20px;
  margin: 0 0 20px 30px;
}

.flex {
  display: inline-flex;
}

.btn {
  margin-left: -10px;
}

.title {
  font-size: 20px;
  font-weight: 500;
}

.desc {
  font-size: 14px;
  font-style: italic;
}

@media(max-height: 1000px) {
  .box {
    background-color: rgb(36, 36, 36);
    width: 300px;
    height: 85vh;
    padding-top: 10px;
    margin: 0 0 0 10px;
  }

  .boxInput {
    background-color: rgb(36, 36, 36);
    width: 310px;
    height: 85vh;
    padding-top: 10px;
    margin: 0 0 0 10px;
  }
}
